@import "tailwindcss";

@theme {
  --background-image-space-ship: url("/images/spaceship.jpg");
  --background-image-large-space-ship: url("/images/spaceship.png");
  --background-image-cool-space-ship: url("/images/new-spaceship.jpg");
}

@layer utilities {
  .bg-space-ship {
    background-image: var(--background-image-space-ship);
  }
  .bg-large-space-ship {
    background-image: var(--background-image-large-space-ship);
  }
  .bg-cool-space-ship {
    background-image: var(--background-image-cool-space-ship);
  }
}
