---
import HeaderLink from "./HeaderLink.astro";

import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="flex justify-between items-center py-4 px-6">
    <div>
    <img src="/images/logo.png" alt="logo" width="90">
    </div>
    <div class="hidden sm:block">
      <HeaderLink class="text-white text-md uppercase mx-4" href="/">
        Home
      </HeaderLink>
      <HeaderLink class="text-white text-md uppercase mx-4" href="/blog">
        Blog
      </HeaderLink>
      <HeaderLink class="text-white text-md uppercase mx-4" href="/manual">
        Manual
      </HeaderLink>
      <HeaderLink
        class="border border-white rounded-full text-sm uppercase py-2 px-4 hover:bg-white hover:text-black transition duration-300 ease-in-out"
        href="/register"
      >
        Register
      </HeaderLink>
    </div>
  </nav>
  <!-- This is the responsive menu -->
  <div class="sm:hidden">
    <div class="flex justify-center items-center py-4 px-6">
      <HeaderLink class="text-white block text-lg uppercase px-4" href="/">
        Home
      </HeaderLink>
      <HeaderLink class="text-white block text-lg uppercase px-4" href="/blog">
        Blog
      </HeaderLink>
      <HeaderLink
        class="text-white block text-lg uppercase px-4"
        href="/manual"
      >
        Manual
      </HeaderLink>
      <HeaderLink
        class="border border-white rounded-full text-md uppercase py-2 px-4 hover:bg-white hover:text-black transition duration-300 ease-in-out block"
        href="/register"
      >
        Register
      </HeaderLink>
    </div>
  </div>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
