<section>
  <div class="my-4">
    The game is actually quite simple. It's all about building troops and taking
    over land.
  </div>
  <div class="my-4">
    <p>
      The game is tick based, that is, every sixty seconds or so, when a "tick"
      happens, resources are distributed. The amount of resource you receive
      depends on the land you control (more on that later on). Also, you can
      produce units and buildings and research sciences for a certain amount of
      resources. These things take a certain amount of ticks (displayed in the
      ETA column of the units/science/building screens) to produce.
    </p>
    <p class="my-4">
      Once you have ordered the research of a science or the production of a
      unit or building, its ETA will decrease with each tick. When it reaches 0,
      the production is complete and you will be able to produce more of the
      same unit type (if you've just built a building or researched a science,
      you won't be able to do it again, but you don't need to do so anyway).
    </p>
  </div>
  <div class="my-4">
    <p>
      The amount of seconds passed since the last tick are shown on the top
      right. If it becomes any larger than 300 seconds, it is likely that the
      ticks are currently deactivated for some reason, and you will not be able
      to do anything for the next couple of hours. Sometimes it's just server
      lag, but 300 is a safe bet.
    </p>
  </div>
  <div class="my-4">
    <p>
      In the beginning, you can't do much. The first thing to do is to get
      credits, which is the currency used by your citizens and in building
      troops.
    </p>
    <p class="my-4">
      In order to get any credits, you need to construct the building "Tax
      collectors", which is free and takes 10 ticks to build. Just click on the
      symbol with the crossed wrenches in the column labeled "Build:". Then go
      and get yourself a drink or something and come back in about ten minutes.
      Just select "Building" from the navigation again, and you should see the
      current ETA and status.
    </p>
    <p class="my-4">
      If the construction is complete already, you are receiving a small amount
      of credits with each tick now. To increase it, you need to research the
      science "Improved tax revenue," which costs 1000 credits and takes 25
      ticks to complete. If you don't have 1000 credits, just wait a little.
    </p>
  </div>
</section>
