---
import HeaderLink from "./HeaderLink.astro";
---

<header class="container">
  <nav class="flex justify-between items-center py-2">
    <div class="mx-auto md:mx-0">
      <img src="/images/logo.png" alt="Earthdoom logo" width="90" />
    </div>
    <div class="hidden sm:block">
      <HeaderLink
        class="text-white text-md uppercase mx-4 font-bold hover:after:w-full after:transition-all after:bg-white after:bottom-[-0.45rem] after:block after:m-auto after:h-1 after:ease-in-out after:duration-500 inline-block"
        href="/"
      >
        Home
      </HeaderLink>
      <!--<HeaderLink
        class="text-white text-md uppercase mx-4 font-bold hover:after:w-full after:transition-all after:bg-white after:bottom-[-0.45rem] after:block after:m-auto after:h-1 after:ease-in-out after:duration-500 inline-block"
        href="/blog"
      >
        Blog
      </HeaderLink>-->
      <HeaderLink
        class="text-white text-md uppercase mx-4 font-bold hover:after:w-full after:transition-all after:bg-white after:bottom-[-0.45rem] after:block after:m-auto after:h-1 after:ease-in-out after:duration-500 inline-block"
        href="/manual"
      >
        Manual
      </HeaderLink>
    </div>
  </nav>
  <!-- This is the responsive menu -->
  <div class="sm:hidden">
    <div class="flex justify-center items-center py-4 px-6">
      <HeaderLink
        class="text-white block text-sm uppercase px-4 font-bold"
        href="/"
      >
        Home
      </HeaderLink>
      <!--<HeaderLink
        class="text-white block text-sm uppercase px-4 font-bold"
        href="/blog"
      >
        Blog
      </HeaderLink>-->
      <HeaderLink
        class="text-white block text-sm uppercase px-4 font-bold"
        href="/manual"
      >
        Manual
      </HeaderLink>
    </div>
  </div>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
