---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {
  activeClass?: string;
}

const { href, class: className, activeClass, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");

const computedClass = [
  className,
  isActive ? activeClass : ''
].filter(Boolean).join(" ");
---

<a href={href} class={computedClass} {...props}>
  <slot />
</a>