---
import BaseHead from "../components/Header/BaseHead.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Intro from "../components/Index/Intro.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "../components/Index/Hero.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-neutral-900">
    <Header title={SITE_TITLE} />
    <Hero />
    <Intro />
    <Footer />
    <style>
      .fade-in-top-second {
        opacity: 0;
        transform: translateY(-40px);
        animation: fadeInTop 0.7s ease-in-out forwards;
        animation-delay: 0.8s;
      }

      @keyframes fadeInTop {
        from {
          opacity: 0;
          transform: translateY(-40px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .typewriter-effect {
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        animation: typing 3.5s steps(44) 1s 1 normal both,
          blink 0.5s step-end infinite normal;
      }

      @keyframes blink {
        from,
        to {
          border-right-color: transparent;
        }
        50% {
        }
      }
    </style>

    <script>
      let text = "Earth Doom";
      let i = 0;

      const typewriter = () => {
        let textElement = document.querySelector(
          ".typewriter-effect"
        ) as HTMLElement;

        if (textElement) {
          textElement.innerText = text.slice(0, i++);

          const delay = Math.floor(Math.random() * 200) + 120;

          if (i <= text.length) {
            setTimeout(typewriter, delay);
          }
        }
      };

      typewriter();
    </script>
  </body>
</html>
