---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-black">
    <Header title={SITE_TITLE} />
    <main>
      <div
        class="flex flex-col items-center justify-center h-[530px] lg:h-[700px] bg-large-space-ship"
      >
        <div class="bg-black p-2">
          <h1 class="text-white text-6xl font-bold mb-8 text-center">Earth Doom</h1>
          <p class="text-white text-xl mb-6 text-center">
            Explore the galaxy like never before
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
