---
import BaseHead from "../components/Header/BaseHead.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Intro from "../components/Index/Intro.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "../components/Index/Hero.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-neutral-900">
    <Header title={SITE_TITLE} />
    <Hero />
    <Intro />
    <Footer />
  </body>
</html>
