---
import Button from "../common/Button.astro";
---

<div class="flex flex-col items-center justify-center mt-12 opacity-0 animate-fade-in-cta">
  <a
    href="https://game.earthdoom.com/login"
    class="w-full sm:w-auto"
  >
    <Button variant="primary" size="xl">
      Play Now
    </Button>
  </a>
</div>
