---
import Button from "../common/Button.astro";
---

<p class="flex flex-col md:flex-row items-center justify-center mt-2">
  <a href="/register">
    <Button>Register</Button>
  </a>
  <a href="/login">
    <Button>Login</Button>
  </a>
  <a href="/manual">
    <Button>Learn more</Button>
  </a>
</p>
