---
import Button from "../common/Button.astro";
---

<p class="flex flex-col md:flex-row items-center justify-center mt-2 text-red-700">
  <!--<a href="https://game.earthdoom.com">
    <Button>Play</Button>
  </a>
  <a href="/manual">
    <Button>Manual</Button>
  </a>-->
  The game is currently in maintenance mode as I am moving the database to a new server. 
</p>
