---
import Button from "../common/Button.astro";
---

<p class="flex flex-col md:flex-row items-center justify-center mt-2">
  <a href="https://game.earthdoom.com">
    <Button>Play</Button>
  </a>
  <a href="/manual">
    <Button>Learn more</Button>
  </a>
</p>
