<p class="flex flex-col md:flex-row items-center justify-center mt-2">
    <button
      class="ease-in-out duration-300 bg-orange-500 rounded-lg w-[125px] m-2 px-4 py-2 text-white hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75"
    >
      Register
    </button>
    <button
      class="ease-in-out duration-300 bg-orange-500 rounded-lg w-[125px] m-2 px-4 py-2 text-white hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75"
    >
      Login
    </button>
    <button
      class="ease-in-out duration-300 bg-orange-500 rounded-lg w-[125px] m-2 px-4 py-2 text-white hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75"
    >
      Learn more
    </button>
  </p>