---
import CallToAction from "./CallToAction.astro";
---

<main class="w-full relative">
  <div
    class="h-[25rem] md:h-[30rem] bg-cool-space-ship bg-cover bg-center flex items-center justify-center"
  >
    <div class="absolute inset-0 bg-gradient-to-b from-black/40 via-black/50 to-black/65"></div>
    <div class="relative z-10 text-center px-4 max-w-5xl mx-auto">
      <div class="flex justify-center">
        <h1 class="text-4xl md:text-6xl font-bold mb-6 overflow-hidden whitespace-nowrap mx-auto tracking-wider p-2.5 animate-typed-out border-r-[0.15em] border-white">
          Earth Doom
        </h1>
      </div>
      <p class="text-xl md:text-2xl mb-4 opacity-0 -translate-y-5 animate-fade-in-top-second text-left md:text-center">
        Explore the world like never before and conquer your enemies!
      </p>
      <p class="text-sm md:text-base mb-8 opacity-0 -translate-y-5 animate-fade-in-top-third text-left md:text-center">
        I am manually running the game ticker when I am developing and testing
        the game. Please be patient.
      </p>
      <CallToAction />
    </div>
  </div>
</main>
