---
import CallToAction from "./CallToAction.astro";
---

<main>
  <div
    class="flex flex-col items-center justify-center h-[620px] lg:h-[750px] bg-cool-space-ship bg-cover"
  >
    <div
      class="bg-neutral-900 p-4 md:p-8 rounded-lg mx-2 md:mx-0 drop-shadow-lg shadow-lg shadow-slate-700 md:w-[810px] w-[260px]"
    >
      <h1
        class="typewriter-effect text-white text-xl md:text-3xl font-bold mb-8 text-center"
      >
        Earth Doom
      </h1>
      <p
        class="text-white text-left text-sm lg:text-xl mb-4 md:text-center py-4 fade-in-top-second"
      >
        Explore the world like never before and conquer your enemies!
      </p>
      <p
        class="text-white text-left text-sm lg:text-xl mb-4 md:text-center py-4 fade-in-top-second"
      >
        I am manually running the game ticker when I am developing and testing
        the game. Please be patient.
      </p>
      <CallToAction />
    </div>
  </div>
</main>

<style>
  .fade-in-top-second {
    opacity: 0;
    transform: translateY(-40px);
    animation: fadeInTop 0.7s ease-in-out forwards;
    animation-delay: 0.8s;
  }

  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .typewriter-effect {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(44) 1s 1 normal both,
      blink 0.5s step-end infinite normal;
  }

  @keyframes blink {
    from,
    to {
      border-right-color: transparent;
    }
    50% {
    }
  }
</style>

<script>
  let text = "Earth Doom";
  let i = 0;

  const typewriter = () => {
    let textElement = document.querySelector(
      ".typewriter-effect"
    ) as HTMLElement;

    if (textElement) {
      textElement.innerText = text.slice(0, i++);

      const delay = Math.floor(Math.random() * 250) + 120;

      if (i <= text.length) {
        setTimeout(typewriter, delay);
      }
    }
  };

  typewriter();
</script>
