---
import CallToAction from "./CallToAction.astro";
---

<main class="w-full relative">
  <div
    class="h-screen bg-cool-space-ship bg-cover bg-center flex items-center justify-center"
  >
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="relative z-10 text-center px-4 max-w-3xl mx-auto">
      <div class="container">
        <h1 class="text-4xl md:text-6xl font-bold mb-6 typed-out">
          Earth Doom
        </h1>
      </div>
      <p class="text-xl md:text-2xl mb-4 fade-in-top-second">
        Explore the world like never before and conquer your enemies!
      </p>
      <p class="text-sm md:text-base mb-8 fade-in-top-third">
        I am manually running the game ticker when I am developing and testing
        the game. Please be patient.
      </p>
      <CallToAction />
    </div>
  </div>
</main>

<style>
  .container {
    display: flex;
    justify-content: center;
  }

  .typed-out {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.05em;
    padding: 10px;
    animation:
      typing 2s steps(20, end),
      blink-caret 0.75s step-end 8,
      remove-caret 0s 1.2s forwards;
    border-right: 0.15em solid #fff;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #fff;
    }
  }

  @keyframes remove-caret {
    to {
      border-right: none;
    }
  }

  .fade-in-top-second {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTop 0.7s ease-in-out forwards;
    animation-delay: 2s; /* Delay until after typing animation */
  }

  .fade-in-top-third {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTop 0.7s ease-in-out forwards;
    animation-delay: 2.7s; /* Delay until after second paragraph fades in */
  }

  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
