<section
  class="text-white text-lg md:text-xl my-10 text-left mx-auto"
>
  <h2 class="text-white text-xl md:text-2xl font-bold mb-8 text-center my-2">
    What is Earth Doom?
  </h2>
  <p class="my-6 mx-2">
    Earth Doom is an epic war game that plunges you into a relentless fight for
    survival and dominance. As a leader of your own burgeoning nation, you must
    carefully build up your forces, gain critical resources, research powerful
    technologies, and conquer enemy lands - all while defending against those
    who would conquer you. The key to victory lies in properly balancing and
    adeptly managing the growth of your empire. Do you produce more scout units
    to search for additional resources and lands to conquer? Or do you focus on
    upgrading your resource production and building a stronger army?
  </p>
  <p class="my-6 mx-2">
    Each decision you make can have significant consequences on your nation's
    future. One wrong move could leave your lands vulnerable or your armies
    outmatched. With every minute that passes, your empire gains resources that
    can be used to construct new buildings, train infantry units, and conduct
    valuable research to gain access to more advanced units and upgrades. But
    don't be lulled into a false sense of security - your enemies are also
    rapidly expanding their power. New threats could emerge at any time to
    challenge your supremacy.
  </p>
  <p class="my-6 mx-2">
    Only the shrewdest and most tactical players will emerge victorious in this
    competitive real-time strategy arena. Mastery of military tactics, resource
    optimization, and clever alliances will be required to dominate this digital
    battlefield. Do you have the strategic vision and leadership to guide your
    nation to a position of strength and prominence in the increasingly
    treacherous world of Earth Doom?
  </p>
</section>
