---
const { class: className, ...props } = Astro.props;
---

<button
  class={`
    w-28 
    relative overflow-hidden
    px-6 py-2
    bg-gradient-to-r from-blue-600 to-blue-800
    text-white font-semibold
    rounded-md
    transition-all duration-500
    hover:bg-blue-700
    focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50    
    group
    ${className}
  `}
  {...props}
>
  <span class="relative z-10">
    <slot />
  </span>
  <span
    class="absolute inset-0 bg-gradient-to-r from-blue-400 to-blue-500 opacity-0 transition-opacity duration-300 blur-[2px]"
  ></span>
  <span
    class="absolute top-0 left-0 w-full h-1 bg-blue-400 transform origin-left scale-x-0 transition-transform duration-300 group-hover:scale-x-100 blur-[2px]"
  ></span>
  <span
    class="absolute bottom-0 right-0 w-full h-1 bg-blue-400 transform origin-right scale-x-0 transition-transform duration-300 group-hover:scale-x-100 blur-[2px]"
  ></span>
</button>
