---
interface Props {
  bgColor?: "blue" | "red";
  hoverColor?: "blue" | "red";
}

const { bgColor = "blue", hoverColor = "blue" } = Astro.props;

const backgroundColor = bgColor === "blue" ? "bg-blue-600" : "bg-red-600";
const hoverBackgroundColor =
  hoverColor === "blue" ? "hover:bg-blue-800" : "hover:bg-red-800";
---

<button
  class={`ease-in-out duration-300 ${backgroundColor} rounded-lg w-[125px] m-2 px-4 py-2 text-white ${hoverBackgroundColor} focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75`}
>
  <slot />
</button>
