---
const { class: className, ...props } = Astro.props;
---

<button
  class={`w-28 px-4 py-2 bg-blue-600 text-white font-semibold rounded-md transition-all duration-300 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 ${className}`}
  {...props}
>
  <slot />
</button>